<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile_styles.css' %}">

    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <button onclick="location.href='{% url 'home' %}'">🏠</button>
        <button onclick="location.href='{% url 'home' %}'">🔍</button>
        <button onclick="location.href='{% url 'home' %}'">➕</button>
        <button onclick="location.href='{% url 'home' %}'">❤️</button>
        <button onclick="location.href='{% url 'profile' %}'">👤</button>
    </nav>
    <div class="profile-container">
        <div class="header">
            <div class="avatar">
                <img src="{% static 'images/img_1.png' %}" alt="Profile Avatar">
            </div>
            <div class="profile-info">
                <h1>{{ user.full_name }}</h1>
                <div class="stats">
                    <p><span>{{ user.posts_count }}</span> posts</p>
                    <p><span>{{ user.subscribers }}</span> followers</p>
                    <p><span>{{ user.likes }}</span> likes</p>
                </div>
                <p class="bio">{{ user.bio }}</p>
            </div>
        </div>
    </div>
    <div class="posts-container">
        <div class="post">
            <img src="{% static 'images/img_3.png' %}" alt="Post Image">
        </div>
        <div class="post">
            <img src="{% static 'images/img.png' %}" alt="Post Image">
        </div>
        <div class="post">
            <img src="{% static 'images/img_4.png' %}" alt="Post Image">
        </div>
        <!-- Додайте більше постів тут -->
    </div>
</body>
</html>
