:root {
    --navbar-bg-color: #fff;
    --navbar-padding: 10px 0;
    --navbar-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --navbar-button-font-size: 24px;
    --navbar-button-color: #000;
    --navbar-button-hover-color: #007bff;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--navbar-bg-color);
    padding: var(--navbar-padding);
    box-shadow: var(--navbar-box-shadow);
}

.navbar button {
    background: none;
    border: none;
    font-size: var(--navbar-button-font-size);
    color: var(--navbar-button-color);
    cursor: pointer;
}

.navbar button:hover {
    color: var(--navbar-button-hover-color);
}

.profile-container {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto 0;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
    border: 2px solid #dbdbdb;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
    color: #262626;
}

.stats {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.stats p {
    margin: 0;
    font-size: 16px;
    color: #262626;
}

.stats span {
    font-weight: bold;
}

.bio {
    font-size: 16px;
    color: #737373;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px; /* Це налаштовує відстань між фотографіями */
    max-width: 900px;
    margin: 0 auto;
}

.post {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Це налаштовує висоту поста */
}

.post img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%; /* Це налаштовує ширину зображення */
    height: 90%; /* Це налаштовує висоту зображення */
    object-fit: cover; /* Це забезпечує, що зображення буде чітко вписуватись в квадратик */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
